.tetrad-maps {
    width: 100%;
    max-width: $max_width;
    margin: 0 auto;
    padding: $default_spacing 0;
}

.container {
    width: 100%;
}

.map-container {
    width: $lg-map-width;
    height: $lg-map-width;
    position: relative;
}

.map-full {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    display: flex;
}

.map-column {
    width: $lg-map-width;
    float: left;
    position: relative;
}

.map-meta {
    // width: calc(100% - 522px);
    width: 500px;
    float: left;
    position: relative;
    padding-left: $default_spacing;
}

#m2_ {
    display: none;
}

@media screen and (max-width: $max_width) {
    .tetrad-maps, .header {
        padding: 1em;
    }
}

@media screen and (max-width: 1025px) {

    .map-meta {
        width: 450px;
    }

    .container {
        width: 1024px;
    }

    .map-container {
        width: $tablet-map-width;
        height: $tablet-map-width;
        position: relative;
    }
    .map-column {
        width: $tablet-map-width;
    }
}





.double {
    &.tetrad-maps {
        max-width: $max_width_double;
    }

    #m2_ {
        display: block;
    }

    .container {
        width: 50%;
        float: left;
    }
    .map-full {
        flex-direction: column;
    }
    #m2_ {
        .map-full {
            align-items: flex-end;
        }
    }
    .map-container {
        width: $sm-map-width;
        height: $sm-map-width;
    }
    .map-column {
        width: $sm-map-width;
    }
    .map-meta {
        width: $sm-map-width;
        padding-left: 0;
    }
}