.breeding-toggles {
    padding: 0;
    height: $base_font_size;
    line-height: $base_font_size;
    position: relative;
    .d-set {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        &.current {
            display: block;
        }
    }
    .b-toggle {
        &:last-of-type {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .d-set-title {
        font-size: $base_font_size;
    }
}