// .ten-k {
//     width: $full-scale / 13;
//     height: $full-scale / 13;
// }

.double {
    // .ten-k {
    //     width: $half-scale / 13;
    //     height: $half-scale / 13;
    // }
    .tenk {
        width: $half-scale / 13;
        height: $half-scale / 13;
    }
}

.parent {
    &:hover {
        cursor: pointer;
    }
}

.double {
    .tenk {
        width: 35px;
        height: 35px;
        > div {
            width: 7px;
            height: 7px;
        }

    }
}

.tenk {
    margin: 0;
    padding: 0;
    width: $full-scale / 13;
    height: $full-scale / 13;
    width: 40px;
    height: 40px;

    display: block;
    float: left;

    // display: table-cell;
    position: relative;
    z-index: 99;

    > div {
        width: 20%;
        height: 20%;
        width: 8px;
        height: 8px;
        position: absolute;
        // border-left: 1px solid $grey;
        // border-bottom: 1px solid $grey;

        &:nth-child(2) {
            top: 0;
            left: 20%;
        }

        &:nth-child(3) {
            top: 0;
            left: 40%;
        }

        &:nth-child(4) {
            top: 0;
            left: 60%;
        }

        &:nth-child(5) {
            top: 0;
            left: 80%;
        }

        &:nth-child(6) {
            top: 20%;
            left: 0;
        }

        &:nth-child(7) {
            top: 20%;
            left: 20%;
        }

        &:nth-child(8) {
            top: 20%;
            left: 40%;
        }

        &:nth-child(9) {
            top: 20%;
            left: 60%;
        }

        &:nth-child(10) {
            top: 20%;
            left: 80%;
        }

        &:nth-child(11) {
            top: 40%;
            left: 0;
        }

        &:nth-child(12) {
            top: 40%;
            left: 20%;
        }

        &:nth-child(13) {
            top: 40%;
            left: 40%;
        }

        &:nth-child(14) {
            top: 40%;
            left: 60%;
        }

        &:nth-child(15) {
            top: 40%;
            left: 80%;
        }

        &:nth-child(16) {
            top: 60%;
            left: 0%;

        }

        &:nth-child(17) {
            top: 60%;
            left: 20%;

        }

        &:nth-child(18) {
            top: 60%;
            left: 40%;

        }

        &:nth-child(19) {
            top: 60%;
            left: 60%;

        }

        &:nth-child(20) {
            top: 60%;
            left: 80%;

        }

        &:nth-child(21) {
            top: 80%;
            left: 0%;

        }

        &:nth-child(22) {
            top: 80%;
            left: 20%;

        }

        &:nth-child(23) {
            top: 80%;
            left: 40%;

        }
        &:nth-child(24) {
            top: 80%;
            left: 60%;

        }

        &:nth-child(25) {
            top: 80%;
            left: 80%;

        }

    }
}

.code-A,
.code-B,
.code-K, .code-N {
    // background-image: url('../img/circle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 9px;
    background-size: 100%;
}


.dbreed-off {
    .code-A,
    .code-B,
    .code-K, .code-N {
        background-image: none;
    }
}
.sitters-off {
    .sitters-A,
    .sitters-B,
    .sitters-K {
        background-color: transparent;
    }
}

.code-A {
    background-image: url('../img/circle-1.svg');
}
.code-B {
    background-image: url('../img/circle-2.svg');
}
.code-K {
    background-image: url('../img/circle-3.svg');
}
.code-N {
    background-image: url('../img/circle-4.svg');
}

.sitters-A {
    background-color: $sitters_conf;
}
.sitters-B {
    background-color: $sitters_prob;
}
.sitters-K {
    background-color: $sitters_pos;
}


[data-set="dbdensity"] {
    .pres {
        background-color: $dbdensity;
    }

}

[data-set="dwdensity"] {
    .pres {
        background-color: $dwdensity;
    }
}


.code-7 {
    opacity: (1/7)*7;
}
.code-6 {
    opacity: (1/7)*6;
}
.code-5 {
    opacity: (1/7)*5;
}
.code-4 {
    opacity: (1/7)*4;
}
.code-3 {
    opacity: (1/7)*3;
}
.code-2 {
    opacity: (1/7)*2;
}
.code-1 {
    opacity: (1/7)*1;
}

.loading-data {
    .pres {
        opacity: 0;
    }
}








