
.code-A,
.code-B,
.code-K, .code-N {
    background-position: center;
    background-repeat: no-repeat;
    background-size: $lg-map-2k-width;
}

.double {
    .code-A,
    .code-B,
    .code-K, .code-N {
        background-size: $sm-map-2k-width;
    }
}

@media screen and (max-width: 1025px) {
    .code-A,
    .code-B,
    .code-K, .code-N {
        background-position: center;
        background-repeat: no-repeat;
        background-size: $tablet-map-2k-width;
    }
}

/* Hide data layers */
.data-off {
    // .parent {
        .code-A,
        .code-B,
        .code-K, .code-N {
            background-image: none;
        }
        .pres {
            background-color: transparent;
        }

        .map-row > div  > div {
            background-color:transparent;
        }
    // }
}



.dbreed-off {
    .code-A,
    .code-B,
    .code-K, .code-N {
        background-image: none;
    }
}

.code-A {
    background-image: url('../img/circle-1.svg');
}
.code-B {
    background-image: url('../img/circle-2.svg');
}
.code-K {
    background-image: url('../img/circle-3.svg');
}
.code-N {
    background-image: url('../img/circle-4.svg');
}




/* 10K species dbreed10 */

[data-set="dbreed10"] {
    .code-A,
    .code-B,
    .code-K, .code-N {
        background-size: $lg-map-10k-width;
    }

    .double {
        .code-A,
        .code-B,
        .code-K, .code-N {
            background-size: $sm-map-10k-width;
        }
    }

}

@media screen and (max-width: 1025px) {
    [data-set="dbreed10"] {
        .code-A,
        .code-B,
        .code-K, .code-N {
            background-size: $tablet-map-10k-width;
        }
    }
}


[data-set="dwdensity"] {

    .code-9 {
        background-color: rgba(0,11,140, 1);
    }
    .code-8 {
        background-color: rgba(0,11,140, .84);
    }
    .code-7 {
        background-color: rgba(0,11,140,.70);
    }
    .code-5 {
        background-color: rgba(0,11,140,.56);
    }
    .code-4 {
        background-color: rgba(0,11,140, .42);
    }
    .code-2 {
        background-color: rgba(0,11,140, .28);
    }
    .code-1 {
        background-color: rgba(0,11,140, .14);
    }
}


[data-set="dbdensity"] {

    .code-9 {
        background-color: rgba(196,0,1, 1);
    }
    .code-8 {
        background-color: rgba(196,0,1, .84);
    }
    .code-7 {
        background-color: rgba(196,0,1,.70);
    }
    .code-5 {
        background-color: rgba(196,0,1,.56);
    }
    .code-4 {
        background-color: rgba(196,0,1, .42);
    }
    .code-2 {
        background-color: rgba(196,0,1, .28);
    }
    .code-1 {
        background-color: rgba(196,0,1, .14);
    }
}

.loading-data {
    .pres {
        opacity: 0;
    }
}

