html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    font-size: $base_font_size;
}

.header, .footer {
    height: 100px;
    background-color: #fafafa;
}
