@import "vendor/normalize";
@import "colors";
@import "variables";
@import "mixins";
@import "utilities";
@import "global";
@import "grid";

// components
@import "components/button";
@import "components/spinner";
@import "components/media";
@import "components/10k-grid";
@import "components/map-controls";
@import "components/map-layout";
@import "components/overlay";

// navigation
@import "navigation/main-nav";

// plugins
@import "vendor/chosen";

// pages
.container {
    width: 100%;
}
.tet {
    width: 20px;
    height: 20px;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    float: left;
    &.className {
        background-color: goldenrod;
    }
}




