$base_font_size: 15px;
$base_line_height: 1.5rem;

$base_font_family: Helvetica, Arial, sans-serif; 
$base_font_custom: 'Source Sans Pro', sans-serif;




/* Grid */
$col_padding: 2rem;


// layout
$max_width: 1100px; // 1200px
$max_width_medium: 60rem; // 960px
$max_width_small: 50rem; // 800px


// spacing
$default_spacing: 1.5rem;


// maps
$full-scale: 520px;
$half-scale: 455px;
// $full-scale: 100%;
// $full-scale: 450px;

// colors
$grey: rgba(0,0,0,.2);
$dbdensity : red;
$dwdensity : blue;


$border-color: #999;
$body_bgc: transparent;

// borders
$devon_border: 1px solid $border-color;

// form els
// select
$select-font-size: 13px;
$select-height: 26px;